html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style: none;
  padding-left: 5px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.value {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}
.stats {
  display: flex;
  justify-content: center;
}
.stats-item {
  display: flex;
  align-items: center;
}
.stats-item:not(:last-child) {
  margin-right: 30px;
}

.gallery-item:not(:last-child) {
  margin-bottom: 30px;
}
